*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

video {
  width: 100%;
}

.page {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  height: 534px;
  justify-content: space-between;
  margin: 133px 30px 133px 30px;
}

.result {
  width: 711px;
}

.result__video-container {
  width: 100%;
  position: relative;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.title {
  text-transform: uppercase;
  font-family: Oswald;
  color: rgba(255, 255, 255, 1);
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list {
  overflow: scroll;
  height: 298px;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  position: relative;
}

.content__details {
  width: 399px;
  display: flex;
  flex-direction: column;
  column-gap: 30px;
}

.title {
  margin-bottom: 26px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card-title {
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  color: rgba(255, 255, 255, 1);
}

